html,
body {
	height: 100%;
	margin: 0px;
	background-image: url("./images/background/homeBackground.jpg") !important;
}

#root {
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.background-img {
	background-position: center;
	background-size: cover;
	height: 60%;
	width: 50%;
	border: 3px solid grey;
	border-radius: 5px;
}

.pet-img {
	position: absolute;
	margin-top: 5%;
	width: 15%;
	height: auto;
}

.register-btn {
	float: right;
}

.user-auth-card {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.fade-in {
	position: absolute !important;
	z-index: 1000;
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	-moz-animation: fadeIn ease 1s;
	-o-animation: fadeIn ease 1s;
	-ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
